ADF/pipeline/GH Archive Batch Data Ingestion.json
{
	"name": "GH Archive Batch Data Ingestion",
	"properties": {
		"activities": [
			{
				"name": "For Each Timestamp",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Timestamps",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Timestamps').output.value[0]['timestamps']",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy Data From GH Archive",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false,
								"dataIntegrationUnits": 4
							},
							"inputs": [
								{
									"referenceName": "gh_archive_dataset",
									"type": "DatasetReference",
									"parameters": {
										"timestamp": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "gh_archive_dataset_sink",
									"type": "DatasetReference",
									"parameters": {
										"year": "2024",
										"month": {
											"value": "@{split(item(),'-')[1]}",
											"type": "Expression"
										},
										"day": {
											"value": "@{split(item(),'-')[2]}",
											"type": "Expression"
										},
										"filename": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup Timestamps",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "timestamp_ds",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-03-09T04:24:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}